@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ALTERAÇÃOOOOOOO NO HOVER DO COMPRAR */
.botao-comprar:hover {
  color: rgba(222, 184, 135, 0.705);
  transition: 0.3s;
}



body{
    
    margin: 0 auto;
    padding: 150px;
    background-color: black;
    color: #F5F5F4;
    
    
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

section{
    padding-top: 75px;
   
   
}




h1,h2,h3,h4,h5,h6{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
color: rgba(222, 184, 135, 0.705);           
}

p{
    font-family:"Poppins",sans-serif ;
    font-weight: 450;
    font-style: normal;
}

/*NAVBAR*/
header{
background-color: black;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 85px;
display: flex;
justify-content: space-between;
z-index: 1000;
}


#logo-imagem{
    height: 100px;
    width: auto;
}

ul{
   display: flex; 
   margin-right: 1rem;
}


a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

li{
    font-family: "Poppins",sans-serif;
    margin: 1.3rem;
    list-style-type: none;
    font-size: 1.7rem;
}



li :hover{
    color:rgba(222, 184, 135, 0.705);
    transition: 0.3s all ease;
}


.navbar-section{
    color: #F5F5F4;
}

#navbar-botao{
    font-family: "Roboto";
    font-size: 2rem;
    justify-content: center;
    width: 35%;
    height: 50px;
    font-weight: bold;
    background: rgba(222, 184, 135, 0.705);
    text-align: center;
    border-radius: 10px;
    padding: 3px 20px;   
    
    
}

/*HOME */


#home{
    
    padding-top: 220px;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: -2rem;
    margin-top: -3.0rem;
}

#lado-esquerdo-home-texto{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: -150px;
}

#titulo-home-esquerdo{
    color: rgba(222, 184, 135, 0.705);
    font-size: 4rem;
    margin-bottom: 2rem;
    
}

#texto-home-esquerdo{
    text-align: justify;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    width: 100%;
}

#botao-home-esquerdo{
    font-size: 3rem;
}

#lado-direito-home-imagem{
    margin-top: -17rem;
    width: 40%;
}

#imagem-barbeiro{
    height: 600px;
    
}

#botao-home-esquerdo :hover{
    color: rgba(222, 184, 135, 0.705);
    transition: 0.3s ease;
}

#botao-home-esquerdo{
    font-family: "Roboto";
    font-size: 2rem;
    justify-content: center;
    width: 38%;
    height: 50px;
    font-weight: bold;
    background: rgba(222, 184, 135, 0.705);
    text-align: center;
    border-radius: 10px;
    padding: 3px 20px; 
    
}


/*Serviços */

/* ESTILO DO TITULO NOVO DA TABELA DE CORTES */

/* ALTERAÇÕESSSSS */

.secao-produto-3-2{
  display: flex;
  justify-content: space-between;
 }

.botao-comprar{
  font-family: "Roboto";
  font-size: 2rem;
  justify-content: center;
  width:80%;
  height: 50px;
  font-weight: bold;
  background: rgba(222, 184, 135, 0.705);
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  color: #F5F5F4; 

  }



.card-produto{
  width: 23rem;
  height: 24rem;
  border: solid 1px white;
  text-align: center;
  padding: 20px;
  margin: 20px;

}


#titulo-produtos{
  text-align: center;
  font-size: 4rem;
}

h5{
  text-align: center;
  margin-top: -40px;
  color: #A3A3A3;
}

#secao-produtos-3{
  display: flex;
  justify-content: space-between;
}

.pomada-modeladora{
  height: 200px;
}




/* ALTERAÇÕESSSSS */ 

#titulo-serviços{
    margin-top: 20px;
    text-align: center;
    font-size: 4rem;
}

#Tabela-preços{
    display: flex;
    justify-content: space-between;
    
}

.preço{
    float: right;
   
   
}

.tabela{
  
    padding: 20px;
    margin: 0 20px;
    border: 1px solid;
    width: 23rem;
    height: 24rem;
}


.titutlo-dentro-tabela{
    text-align: center;
    font-size: 3rem;
}

.preço{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Poppins";
}

.tipo-serviços{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Poppins";
}

span{
    align-self: center;
    margin-top: 20px;
}

.botao-tabelo-preço{
    margin-top: 1.5rem;
    font-family: "Roboto";
    font-size: 2rem;
    justify-content: center;
    width:80%;
    height: 50px;
    font-weight: bold;
    background: rgba(222, 184, 135, 0.705);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: #F5F5F4;   
      

}

#botao-tabela-div :hover{
    color: rgba(222, 184, 135, 0.705);
    transition: 0.3s ease;
}

.botao-tabela{
    transition: 0.3s all ease;
    color: rgba(222, 184, 135, 0.705);
}

#botao-tabela-div{
    margin-top: 2rem;
    align-self: center;
    margin-left: 2rem;
    
}








/* Time de barbeiros*/

#seção-barbeiros{
  margin-top: -3rem;
  margin-bottom: -3rem;
  
}

#titulo-barbeiros{
    text-align: center;
    font-size: 4rem;
}



#barbeiros{
margin-top: 6rem;
   
}

#fotos-barbeiros{
    display: flex;
    justify-content: space-between;
}

.Barbeiro-imagem-descriçao{
    display: flex;
    flex-direction: column;
}

.titulo-barbeiro{
    font-family: "Poppins";
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #F5F5F4;
    font-weight: bold;
}

.barbeiro-foto{
  margin-left: 2rem;
}

/* Footer-Contato */

footer{
    padding: 20px;
    width: 100%;
    margin-top: 8rem;
    margin-bottom: -8rem;
    display: flex;
   justify-content: space-between;
}



.titulo-footer{
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
}

.dias-semana{
    font-family: "Poppins",sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.horarios-semana{
    font-family: "Poppins",sans-serif;
    font-size: 1.2rem;
    color: #A3A3A3;
    
}

#horario-segundasabado{
    margin-bottom: 20px;
}

#rua{
    
    font-size: 1.3rem;
    width: 75%;
    margin-bottom: 20px;
    margin-left: 10rem;
}

#rua :hover{
    color:  rgba(222, 184, 135, 0.705);
    transition: 0.3s ease;
    text-decoration: underline;
}

#entre-contato{
   
    margin-left: 8rem;
    
   
}

#horarios{
    max-width: 50%;
   
}

#entre-contato{
    max-width: 50%;
}

#zap{
    font-family: "Poppins",sans-serif;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-left: 10rem;

}

#zap :hover{
    color:  rgba(222, 184, 135, 0.705);
    transition: 0.3s ease;
    text-decoration: underline;
}

#redes-sociais{
    display: flex;
    margin-left: 9.15rem;
}
 .link-footer{
    color: #F5F5F4;
    font-weight: bold;
 }

.link-footer :hover{
    color: rgba(222, 184, 135, 0.705);
    transition: 0.3s all ease;
    text-decoration: underline;
 }


 #titulo-footer-contato{
    margin-left: 10rem;
 }

 
 aside{
    color: #F5F5F4;
    font-family: "Poppins";
    margin-top: 150px;
    text-align: center;
    margin-bottom: -10rem;
 }


 /* Mantém o design original para telas maiores */




@media only screen and (max-width: 1024px) {
    /* Reduz a margem e o padding do body */
    body {
      padding: 100px 20px;
    }

    

  
    /* Ajusta o tamanho da navbar */
    header {
      height: 70px;
  
    }
    
    #logo-imagem {
      height: 60px;
    }
  
    ul {
      margin-right: 0.5rem;
    }
  
    li {
      font-size: 1.3rem;
      margin: 0.8rem;
    }
  
    /* Botão "Agendar horário" da navbar */
    #navbar-botao {
      font-size: 1.5rem;
      width: 25%;
      padding: 10px;
    }
  
    /* Ajusta o layout da seção home */
    #home {
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
    }
  
    #lado-esquerdo-home-texto {
      width: 100%;
      margin-top: 0;
      text-align: center;
    }
  
    #titulo-home-esquerdo {
      font-size: 3rem;
    }
  
    #texto-home-esquerdo {
      font-size: 1.4rem;
    }
  
    #botao-home-esquerdo {
      width: 80%;
      margin: 0 auto;
    }
  
    #lado-direito-home-imagem {
      width: 80%;
      margin-top: 0;
    }
  
    #imagem-barbeiro {
      height: auto;
      width: 100%;
    }
  
    /* Ajusta o layout da Tabela de Preços */
    #Tabela-preços {
      flex-direction: column;
      align-items: center;
    }
  
    .tabela {
      width: 90%;
      margin-bottom: 2rem;
    }
  
    /* Ajusta o layout da seção de barbeiros */
    #fotos-barbeiros {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 40px;
      
      
      
    }
  
    .Barbeiro-imagem-descriçao {
      margin-bottom: 2rem;
      
    }
  
    .barbeiro-foto img {
      width: 80%;
    }

    .titulo-barbeiro{
        margin-bottom: 1rem;
        
    }
  
    /* Ajusta o rodapé */
    footer {
    margin-top: -50px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;

    }
  
    #horarios, #entre-contato {
      max-width: 100%;
      margin: 1rem 0;
      text-align: center;
    }
  
    /* Corrigir a centralização da div #entre-contato e seu conteúdo */
    #entre-contato {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto; /* Remove margem lateral para centralizar */
      text-align: center; /* Centraliza o texto dentro da div */
    }
  
    #redes-sociais {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
    }
  
    #rua, #zap {
      margin-left: 0;
      text-align: center;
    }
  
    .icon {
      width: 50px;
      height: 50px;
    }


    /* ALTERAÇÕES NA NOVA SEÇÃO DE PRODUTOS */
    h1{
      text-align: center;
      font-size: 4rem;
    }

    .card-produto{
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 8px;
      padding: 30px;
      margin-bottom: 20px;
      
    }

    .pomada-modeladora{
      height: 200px;
    }
    .descricao-produto{
      font-size: 1.2rem;
      width: 220px;
      text-align: center;
    }

    .preco-produto{
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: -10px;
    text-align: center;
    width: 220px;
    }

    .preco-produto-parcelado{
      margin-top: -10px;
      font-size: 0.9rem;
    }

    .botao-comprar{
    font-family: "Roboto";
    font-size: 2rem;
    justify-content: center;
    width:80%;
    height: 50px;
    font-weight: bold;
    background: rgba(222, 184, 135, 0.705);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: #F5F5F4; 

    }
  
    
  
  
   

  

   /* ALTERAÇÕES NA SEÇÃO PRODUTOS */
  
   
    
  }
  
  @media only screen and (max-width: 768px) {
    /* Ajustes adicionais para telas muito pequenas */
    body {
      padding: 50px 10px;
    }

 
    
    #secao-produtos-3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin:0 auto
     
    }

    header {
      height: 60px;
    }
  
    li {
      font-family: "Roboto";
      font-size: 0.90rem;
    }


    .botao-tabelo-preço{
     margin-left: 2rem;
    }
  
    /* Remove o botão "Agendar horário" da navbar para celulares */
    #navbar-botao {
      display: none;
    }
  
    #titulo-home-esquerdo {
      font-size: 2.5rem;
    }
  
    #texto-home-esquerdo {
      font-size: 1.2rem;
    }
  
    #botao-home-esquerdo {
      font-size: 2.5rem;
      width: 90%;
    }
  
    #titulo-serviços, #titulo-barbeiros {
      font-size: 3rem;
    }
  
    .titutlo-dentro-tabela {
      font-size: 2.5rem;
    }
    /* CSS DA NOVA ATUALIZAÇÃO */
    h5{
      text-align: center;
      color: #A3A3A3;
    }
  
    footer {
      margin-bottom: 4rem;
    }

    #titulo-footer-contato {
        margin-right: 180px;
        width: 100%; /* Garante que a div ocupe toda a largura disponível */
        text-align: center; /* Centraliza o texto dentro da div */
    }


  }
  